body{
	font-family:"Proxima Nova", 'Helvetica','Arial', sans-serif;
	border: 0;
  	padding: 0;
   	margin: 0;
}
#wrapper_header {
	background-color:#FFF;
}
#wrapper_content {
	background-color:#f5f5f5;
	padding-bottom:30px;
	

}
#container{
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
#header{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:900px;
	margin-bottom:70px;
	
}
h1{
	font-size:32px;
	font-weight:600;
	color:#2292a2;
	
}
h2{
	font-size:16px;
	font-weight:500;
	color:#2292a2;
	width: 550px;
	line-height:1.2em;
}

a {
  	text-decoration: underline;
  	color: #2292a2; 
}
a:hover{
  	color: #1a727f; 
}
.title{
	font-size:24px;
	color:#313131;
	margin-bottom:10px;
	padding-top:40px;
	
}
.intro{
	font-size:14px;
	color:#555555;
	width:900px;
	margin-bottom:20px;
	line-height:1.2em;
	clear:both;
}
.text{
	font-size:14px;
	color:#313131;
	}
.text_left{
	font-size:14px;
	color:#313131;
	width:550px;
	line-height:18px;
	}
.category{
	font-size:13px;
	font-style:italic;
	text-transform:uppercase;
	margin-left:10px;
	color:#666666;
	}
.feature{
	font-size:16px;
	font-weight:600;
	margin-bottom:10px;
	margin-top:20px;
	}
.mainimg{
	margin-bottom:20px;
}
.greenbutton a{
	background-color:#2292a2;
	color:#FFF;
	padding:10px 24px;
	width:120px;
	display:block;
	margin:auto;
	text-align:center;
}
.greenbutton a:hover {
	background-color:#1a727f;
	
}

hr{
	display:block;
	height:1px;
	border:0;
	margin:0;
	background-color:#b2b2b2;
}





.st-accordion{
    margin: 0 auto;
}
.st-accordion ul{
	list-style-type:none;
	padding-left:0;
}
.st-accordion ul li{
	padding-bottom:20px;
	
    border-bottom: 1px solid #b2b2b2;
    overflow: hidden;
}

.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li a{
    font-size: 16px;
	background-color:#2292a2;
	color:#FFF;
	padding:10px 24px;
	width:140px;
	display:block;
	margin:auto;
	text-align:center;
	text-decoration:none;
	position: relative;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    background-color:#1a727f;
}
.st-content{
	margin-bottom:20px;
	margin-top:20px;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}

#about{
	width:440px;
	float:left;
	}
#about_me{
	font-size:14px;
	color:#2292a2;
	margin-bottom:30px;
	line-height:1.2em;
}
#about_right{
	width:430px;
	position:relative;
	margin-left:30px;
	float:left;
	margin-top:60px;
}

/*social media acc */
#icon_wrapper{
	position:relative;
}
#icon_wrapper li{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}
#icon_wrapper li, #icon_wrapper a{
	height:43px;
	display:block;
}

.behance{
	left:0px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 0;
}
.behance a:hover{
	background:url(../images/icon_sprite.png) -44px 0;
}
.dribbble{
	left:54px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -43px;
}
.dribbble a:hover{
	background:url(../images/icon_sprite.png) -44px -43px;
}
.facebook{
	left:108px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -86px;
}
.facebook a:hover{
	background:url(../images/icon_sprite.png) -44px -86px;
}
.googleplus{
	left:162px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -129px;
}
.googleplus a:hover{
	background:url(../images/icon_sprite.png) -44px -129px;
}
.linkedin{
	left:216px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -172px;
}
.linkedin a:hover{
	background:url(../images/icon_sprite.png) -44px -172px;
}
.pinterest{
	left:270px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -215px;
}
.pinterest a:hover{
	background:url(../images/icon_sprite.png) -44px -215px;
}
.tumblr{
	left:324px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -258px;
}
.tumblr a:hover{
	background:url(../images/icon_sprite.png) -44px -258px;
}
.twitter{
	left:378px;
	width:44px;
	background:url(../images/icon_sprite.png) 0 -301px;
}
.twitter a:hover{
	background:url(../images/icon_sprite.png) -44px -301px;
}