body{
	font-family:"Proxima Nova", 'Helvetica','Arial', sans-serif;
	border: 0;
  	padding: 0;
   	margin: 0;
}
#wrapper_header {
	background-color:#FFF;
}
#wrapper_content {
	background-color:#f5f5f5;
	padding-bottom:50px;
	

}
#container{
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
#header{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:900px;
	margin-bottom:70px;
	
}
h1{
	font-size:32px;
	font-weight:600;
	color:#2292a2;
	
}
h2{
	font-size:16px;
	font-weight:500;
	color:#2292a2;
	width: 550px;
	line-height:1.2em;
}

a {
  	text-decoration: underline;
  	color: #2292a2; 
}
a:hover{
  	color: #1a727f; 
}
.title{
	font-size:26px;
	color:#313131;
	margin-bottom:10px;
	padding-top:40px;
}
.intro{
	font-size:14px;
	color:#555555;
	width:450px;
	margin-bottom:30px;
	line-height:1.2em;
}
.mainimg{
	margin-bottom:20px;
}
.greenbutton a{
	background-color:#2292a2;
	color:#FFF;
	padding:10px 24px;
	width:120px;
	display:block;
	margin:auto;
	text-align:center;
}
.greenbutton a:hover {
	background-color:#1a727f;
	
}

hr{
	display:block;
	height:1px;
	border:0;
	margin:0;
	background-color:#b2b2b2;
}





.st-accordion{
    margin: 0 auto;
}
.st-accordion ul{
	list-style-type:none;
	padding-left:0;
}
.st-accordion ul li{
	padding-bottom:20px;
	
    border-bottom: 1px solid #b2b2b2;
    overflow: hidden;
}

.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li a{
    font-size: 16px;
	background-color:#2292a2;
	color:#FFF;
	padding:10px 24px;
	width:140px;
	display:block;
	margin:auto;
	text-align:center;
	text-decoration:none;
	position: relative;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    background-color:#1a727f;
}
.st-content{
	margin-bottom:20px;
	margin-top:20px;
}
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}